/* CSS: Cascading Stylesheet */
/* Use a selector to target a tag then apply styles to it */
/* "*" means "select all" */

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid black;
}

/* ul,
ol {
	list-style: upper-roman;
} */

body {
	margin: 0;
	/* font-family: "Sigmar", cursive; */
}

span {
	color: red;
}

/* Target an id, we use "#" */
/* #box1 {
	background-color: blueviolet;
}

#box2 {
	background-color: red;
} */

#box3 {
	background-color: green !important;
}

/* Target a class, we use "." */
.box-100 {
	height: 100px;
	width: 100px;
}

.border-1 {
	border: 1px solid black;
}

.bg-blueviolet {
	background-color: blueviolet !important;
}

.bg-red {
	background-color: red !important;
}

.bg-green {
	background-color: green;
}

.shipping-container {
	height: 150px;
	width: 150px;
	background-color: green;
}

.awesome-button {
	padding: 5px 10px;
	margin: 5px;
}

.relative-box {
	position: relative;
	background-color: brown;
	left: 50px;
	top: 50px;
}

.absolute-box {
	background-color: aquamarine;
	position: absolute;
	top: 0px;
}

.fixed-box {
	background-color: red;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.sticky-box {
	background-color: rgb(0, 136, 255);
	position: sticky;
	bottom: 20px;
}

.nav {
	width: 100%;
	height: 20px;
	background-color: rgb(0, 136, 255);
	position: sticky;
	top: 0px;
}
